body {
    font-family: 'Google Sans';
}
.g {
    color: #4285f4;
}
#o2 {
    color: #FBBC05;
}
#l {
    color: #34AB53;
}
#o1, #e {
    color: #EA4335;
}

#Google {
    font-weight: 600;
    font-size: 84px;
    font-family: "Google Sans", Arial, sans-serif;
    height: 100PX;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 151px; 
}
#ImageSearch, #AdSearch{
    text-align: right;
}
#searchbar{
    border-radius: 22px;
    background: white;
    height: 38px;
    border: white 1px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    width: 600px; 
    text-indent: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;

}
.submitbutton{
    height: 36px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    margin-left: 5px;
    min-width: 54px;
}
#form{
    text-align: center;
    margin: 20px;
}

