body {
    font-family: 'Google Sans';
}
/*Main Heading Colour*/
.g {
    color: #4285f4;
}
#o2 {
    color: #FBBC05;
}
#l {
    color: #34AB53;
}
#o1, #e {
    color: #EA4335;
}
/*Links*/
#ImageSearch, #AdSearch, #GoogleSearch{
    text-align: right;
}
/*Form Elements*/
#searchbar{
    border-radius: 22px;
    height: 38px;
    border: solid lightgray 1px;
    width: 575px; 
    text-indent: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 25px;

}
.submitbutton{
    height: 36px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    margin-left: 5px;
    min-width: 54px;
}
#form, #lang{
    text-align: center;
    margin: 25px;
}